<template name="Wellcome">

 <div class="row red">
        <div class="col s12 m12 l12">
 <div class="card">
            <div class="card-image">
              <img src="image/wellcome.gif" class="responsive-img">
              <span class="card-title">Wellcome to Matefy</span>
            </div>
            <div class="card-content ">        

              <p>Choose the topics you want to talk about. You will receive invitations to talk about then.</p>      


            </div>
            {{>myInterests}}
            <div class="card-action align-right">
              <button  class="btn-flat red white-text" id="goHome" >Next</button>
            </div>
          </div>

		
			
          </div>
      </div>
</template>