<template name="Chats">
  {{#with getTitle}}
  {{> header}}
  {{/with}}
      <div class="row">
        <div class="col s12">
          
            <ul class="collection">

              {{#with partner}}
                {{#each this}}

                    <li class="collection-item avatar">
                      <img  src="http://graph.facebook.com/{{dest.profile.id}}/picture?type=large" alt="" class="circle responsive-img">
                      <span class="title">{{dest.profile.name}}</span>
                      <p>{{ formatTime lastMessage  }}</p>

                      <div class="secondary-content">                      
                       <a  href="/chatRoom/{{dest._id}}"  class="btn-floating btn-small green" ><i class="mdi-hardware-keyboard-arrow-right"></i></a>
                      </div>
                    </li>

                {{/each}}
              {{else}}
                <li>Opps! Looks like you haven't got any Chat yet.</li>
              {{/with}}

           </ul>
          
        </div>
      </div>
    {{>butGetMate}}
    {{> footer}}          
</template>