<template name="FirstTime">

 <div class="row red">
        <div class="col s12 m12 l12">
 <div class="card">
            <div class="card-image">
              <img src="image/wellcome.gif" class="responsive-img">
              <span class="card-title">Matefy</span>
            </div>
            <div class="card-content">
              <h5>Improve your conversation in a fun way</h5>
              <p>We go through life doing language courses.
Even so, we know how difficult it is to achieve fluency without practicing regularly.<br>
Thinking about it emerged Matefy, the perfect place for you to train other languages with amazing people.</p>
            </div>
            <div class="card-action align-right">
              <button  class="btn-flat red white-text" id="next" >Next</button>
            </div>

          </div>

		
			
          </div>
      </div>
</template>