<template name="getMate3">
  {{#with getTitle}}
  {{> header}}
  {{/with}}
  <div class="row">  
        <div class="card col s12 m12 l12">        
            <div class="card-content black-text">
                <div class="card-image" >
                  <img class="filter-sepia" src="/image/recorder2.jpg">              
                </div>
                <span class="card-title black-text" >GET A MATE</span>  
                <p>Now, wait. We are looking for someone. Soon, you'll receive some answers.</p>
                
            </div>
                    
        </div>
    </div>
    {{> footer}}
</template>