/*****************************************************************************/
/* Home: Style */
/*****************************************************************************/
.home {
	.track-cell {
		-webkit-justify-content: flex-end;
		    -ms-flex-pack: end;
		        justify-content: flex-end;
		-webkit-align-items: flex-start;
		    -ms-flex-align: start;
		        align-items: flex-start;

		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		background-color: rgba(0,0,0,0);

		height: 180px;
		
		position: relative;
		margin-bottom: 1px;
		/*margin-top: 1px;*/


		padding-left: 16px;
		padding-right: 16px;
		padding-bottom: 0px;


    border-color: rgba(0,0,0,0);
    border-width: 0;


		&:active {
			box-shadow: 0 0px 4px rgba(0,0,0,0.4) inset;
		}

		.overlay {
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			top: 0;

			z-index: 1;
			background: linear-gradient(rgba(0,0,0,0.0) 35%, rgba(0,0,0,0.5));
		}

		h3 {
			margin: 0;
			color: #fff;
			z-index: 100;
			line-height: 1.5rem;
			font-family: SourceSansPro-Semibold;
			letter-spacing: 0.025rem;

			width: 80%;

		}

		p {
			color: #ffdab6;
			z-index: 100;
			font-size: 1rem;
			font-family: SourceSansPro-Regular;
			letter-spacing: 0.05rem;
		}

		.general-info {
			@extend %flex-row-container;
			margin-top: 6px;
			justify-content: space-between;
			align-items: center;
			width: 100%;
		}
	}
}

/*.blur-bg {
  background:linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url(images/bg.jpg);
  background-size: auto 100%;
  background-position: center center; 
  background-repeat:no-repeat;
  left:-15px;
  right:-15px;
  top:-15px;
  bottom:-15px;
  filter: blur(10px) brightness(0.75);
  position: absolute;
  z-index: -1;
}*/